bcrypt==3.1.4
blinker==1.4
certifi
cffi
click==6.7
Flask==1.0
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
Pillow
pycparser==2.18
six
Werkzeug==0.14.1
WTForms==2.1
Flask-WTF==0.14.2
Werkzeug==0.14.1
JSON-log-formatter==0.3.0
prometheus-client==0.8.0
prometheus-flask-exporter==0.18.0
requests
docker
Retry
pytest
pytest-flask
BeautifulSoup4
boto3
